*{
    overflow-x:hidden;
}
body{
    background-image:url(../images/ocean.jpg); 
    background-size:cover;
    background-position:bottom;   
}
#nav{
    margin:20px;
    position:relative;
    left:50%;
    margin-left:-160px;
}
#nav a{
    cursor:pointer; 
    margin:15px;
    text-decoration:none;
    font-family:Arial;
    font-size:26px;
    color:white;
}
#nav a:active{
    color:lightgreen;
}
hr{
    margin:0;
}
#gameboard{
    height:660;
    width:1100px;
    position:relative;
    margin:auto;
}
.card{
    height:180px;
    width:250px;
    margin:8px;
    display:inline-block;
    background-size:cover;
    background-position:center;
    box-shadow:2px 2px;
}
.shark1{
    background-image:url("../images/shark1.jpg");
}
.shark2{
    background-image:url("../images/shark2.jpg");
}
.shark3{
    background-image:url("../images/shark3.jpeg");
}
.shark4{
    background-image:url("../images/shark4.jpg");
}
.shark5{
    background-image:url("../images/shark5.jpg");
}
.shark6{
    background-image:url("../images/shark6.jpg");
}
.cardBack{
    background-image:url("../images/background.jpg");
}
.matched{
    border:5px solid lightgreen;
}
   
@media only screen and (max-width: 800px){
    #nav{
        left:50%;
        margin-left:-130px;
    }
    #gameboard{
        height:725px;
        width:725px;        
    }
    .card{
        height:160px;
        width:225px;
    }
}
@media only screen and (max-width: 450px){
    #nav a{
        font-size:22px;
    }
    #gameboard{
        height:1275;                
        width:550px;
    }
    .card{
        height:140px;
        width:200px;
    }
}       