*{
    overflow-x:hidden;
}
body{
    background-image:url(../images/ocean.jpg); 
    background-size:cover;
    background-position:center;   
}
#nav{
    font-family:Arial;
    font-size:26px;
    color:white;
}
#nav #time{
    float:right;
    margin-right:20px;
    font-size: 30px;
}
#nav select{
    background-color:white;
    color:teal;
    margin-left:15px;
}
#nav a{
    cursor:pointer; 
    margin:15px;
    text-decoration:none;
    font-family:Arial;
    font-size:26px;
    color:white;
}
#nav a:active{
    color:lightgreen;
}
hr{
    margin:0;
}
#gameboard{
    height:660;
    position:relative;
    margin:auto;
}
.card{
    display:inline-block;
    background-size:cover;
    background-position:center;
    box-shadow:2px 2px;
}
.card1{
    height:180px;
    width:250px;
    margin:6px;
}
.card2{
    height:180px;
    width:200px;
    margin:5px;
}
.card3{
    height:135px;
    width:175px;
    margin:5px;
}
.matched{
    border:5px solid lightgreen;
}
   
@media only screen and (max-width: 800px){
    #nav{
        left:25%;
    }
    #gameboard{
        height:775px;                
        width:600px;
    }
    .card1{
        height:160px;
        width:200px;
    }
}
@media only screen and (max-width: 450px){
    #nav{
        left:5%;
    }
    #nav a,#nav select,#nav option{
        font-size:22px;
    }
    #gameboard{
        height:1275;                
        width:550px;
    }
    .card1{
        height:140px;
        width:200px;
    }
}       